<ion-header class="container-header">
  <div class="header">
    <div class="picture-container">
      <div class="d-header">
        <img src="../../../assets/imgPrueba/enmanuel.jpeg" alt="profile-img" class="img-header">
      </div>
    </div>
    <div class="label-container">
      <ion-text class="label-h">Welcome {{name}}</ion-text>
    </div>
    <div class="item-header">
      <button class="button-search">
        <ion-icon class="icon" name="search-circle-outline"></ion-icon>
      </button>


       <button class="button-challenges">
        Challenges
      </button>


    </div>
  </div>
</ion-header>
