.header{
  display: grid;
  grid-template-columns: 90px 1fr 150px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: unset;
}

.d-header{
  clip-path: circle(50%);
  background-color: black;
  width: 60px;
  height: 60px;
  margin-top: 9px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.img-header{
  height: 100%;
  width: 100%;
}

.label-container{
  font-size: 20px;
  font-weight: 500;
  display: block;
  padding: 20px;
  opacity: 0.7;
  text-indent: -40px;
  padding-left: 50px;
}

.container-header{
  --backgroun: transparent;
  background: transparent;
  box-shadow: none;
}

.button-search{
  clip-path: circle(50%);
  background: transparent;
  width: 60px;
  height: 60px;
}

.icon{
  opacity: 0.6;
  height: 90%;
  width: 100%;
  margin-left: 0px;
}

.button-challenges{
  width: 80px;
  height: 30px;
  border-radius: 40px;
  border: solid 2px #FFFFFF;
  background: transparent;
  padding: 4px;
  text-align: center;
  opacity: 0.8;
}

.item-header{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-items: center;
}
