<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>renderPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <iframe
    src="assets/ar.html?marker=hiro"
    width="100%"
    allow="camera; microphone; fullscreen"
    height="100%"
    style="border:none;">
  </iframe>

  <!-- <a-scene
    embedded
    vr-mode-ui="enabled: false"
    renderer="logarithmicDepthBuffer: true;"
    arjs="sourceType: webcam; debugUIEnabled: true;"
  > -->

    <!-- MARKER CON .patt -->
    <!-- <a-marker
      type="pattern"
      url="assets/targets/target1/pattern-iconGameshop.patt"
    > -->

      <!-- <a-box
        position="0 0.5 0"
        scale="1 1 1"
        color="red"
      ></a-box> -->

    <!-- </a-marker> -->

    <!-- CAMARA -->
    <!-- <a-entity camera></a-entity>

  </a-scene> -->

</ion-content>

