:host {
  display: block;
  height: 90%;

}

full-calendar {

  width: 90%;
  justify-self: center;
  margin-right: 20px;
}

// .fc-theme-standard .fc-scrollgrid{
//   border-radius: 12px !important;
// }
/* Contenedor principal del calendario */
.fc {
   height: 455px;
  border-radius: 12px;
  overflow: hidden;
  width: 90%;
  padding-top: 5px;
}


/* Estilo para el enlace "+N más" de FullCalendar */
.fc-more-link,
.fc-more-link-custom {
  background-color: #6b4a3a;
  color: #ffffff !important;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 11px;
  text-decoration: none;
}
