<ion-header>
  <ion-toolbar>
    <ion-title>Formato de Visita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list-header>
    <ion-label>Datos de la Visita</ion-label>
  </ion-list-header>

  <ion-card>

    <ion-card-content>

      <form class="formVisit" [formGroup]="formVisit" >
        <ion-item>
          <app-input
          label="Responsable"
          type="text"
          [control]="responsible"
          [isReadonly]="data.responsible ? true : false">
          </app-input>
        </ion-item>


        <ion-item>
          <app-select
            label="Lugar"
            id="pdvs"
            [control]="pdv">
          </app-select>
        </ion-item>


        <ion-item>
          <app-input
          label="Hora de creación"
          type="text"
          [control]="madeAt"
          [isReadonly]="data.responsible ? true : false">
          </app-input>
        </ion-item>


        <ion-item>
          <app-input
          label="Formato utilizado"
          type="text"
          [control]="usedPdf"
          [isReadonly]="data.responsible ? true : false">
          </app-input>
        </ion-item>

      </form>
    </ion-card-content>

  </ion-card>

  <form [formGroup]="dinamicForm" (ngSubmit)="generarPDF()">


    <ion-list-header class="ion-margin-top">
      <ion-label>{{title}}</ion-label>
    </ion-list-header>

    <div *ngIf="cargando" class="ion-text-center ion-padding">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando formato...</p>
    </div>

    <div *ngIf="!cargando">
      <ion-card *ngFor="let item of itemsEvaluacion" class="ion-margin-bottom">
        <ion-card-content>
          <p class="ion-text-wrap" style="color: black; font-size: 16px;">
            <strong>{{ item.id }}.</strong> {{ item.descripcion }}
          </p>

          <ion-row class="ion-margin-top">
            <ion-col size="6">
              <ion-checkbox labelPlacement="end" justify="start" [formControlName]="item.controlCumple">
                Cumple
              </ion-checkbox>
            </ion-col>

            <ion-col size="6">
              <ion-checkbox labelPlacement="end" justify="start" [formControlName]="item.controlNoCumple" color="danger">
                No Cumple
              </ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

    <!-- Campo de Observaciones de Visita -->
    <ion-card *ngIf="!cargando" class="ion-margin-top">
      <ion-card-header>
        <ion-card-title style="font-size: 16px; color: black;">Observaciones de Visita</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-textarea
          formControlName="observaciones"
          placeholder="Escribe aquí las observaciones generales de la visita..."
          [autoGrow]="true"
          rows="4"
          style="--background: #f9f9f9; --border-radius: 8px; --padding-start: 10px; --padding-top: 8px;">
        </ion-textarea>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" type="submit" [disabled]="!dinamicForm.valid || !formVisit.valid" class="ion-margin-top">
      Generar PDF y Registrar Visita
    </ion-button>

  </form>

</ion-content>
