<ion-header class="modal-header">
  <ion-toolbar>
    <ion-title>Events: {{eventsDate | date:'dd/MM/yyyy' }}</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <div class="modal-card" *ngFor="let item of events">

    <div class="card-header">
      <ion-text class="card-title">{{ item.title }}</ion-text>
      <ion-text class="card-date">
        {{ item.start | date:'dd MMM yyyy' }}
      </ion-text>
    </div>

    <ion-text class="card-description">
      {{ item.description }}
    </ion-text>

    <div class="card-footer">
      <ion-text class="card-author">
        Responsable: <strong>{{ item.author }}</strong>
      </ion-text>
      <ion-text class="card-place">
        Lugar: {{ item.place }}
      </ion-text>
    </div>

  </div>
</ion-content>

