<ion-header class="modal-header">
  <ion-toolbar>
    <ion-title>Events: {{eventsDate | date:'dd/MM/yyyy' }}</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <div class="modal-card">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
      reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui.
    </p>
  </div>
</ion-content>
