<div class="d-flex justify-content-center">
  <div class="text-center mt-5 pt-5">


    <h2>
      inicio de sesión
    </h2>
    <mat-form-field appearance="outline" class="d-block">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" class="d-block">
      <mat-label>Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" class="d-block mb-1 ">Sign-in</button>
    <button mat-raised-button color="primary" class="d-block mb-2 w-100">Sign-in with google</button>
    <button mat-raised-button color="primary" class="d-block mb-2 auth-button w-100">Sign-in with microsoft</button>
 



    <p>
      ¿No tienes una cuenta?
    </p>

    <button matButton="filled" [routerLink]="['/auth/sign-up']">Sign-up</button>
  </div>
</div>