<app-header>
</app-header>

<app-side-menu> </app-side-menu>

<ion-content>
  <div class="content-container">
    <!-- <div class="chips-container">
  <div class="scroll-container">
    <app-chip></app-chip>
    <app-chip></app-chip>
  </div>
</div> -->

    <div class="text-container">
      <app-texts> </app-texts>
    </div>

    <div>
      <!-- <app-card class="cards-container">

  </app-card> -->
      <app-calendar class="carta"></app-calendar>

    </div>


  </div>
  <div>
    <button class="btn w-100 mb-3 text-white fw-semibold" style="background-color: #503629;">
      Cerrar sesión
    </button>
  </div>
</ion-content>

<!--

  <app-tab-component></app-tab-component> -->